body {
 text-align: center;
 background-color: #EDF4F8;
}

header {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

header h1 {
  font-size: 30px;
}

header h1 span {
  color: orange;
}

#cards {
  height: 40vh;
}

section {
  height: 100vh;
  width: 100vw;
}

.mochi-image img{
  width: 13vw;
  height: 13vw;
  margin: 60px;
}

.mochi-board {
  max-width: 100%;
  height: auto;
  display: block;
  padding-bottom: 5vh;
}