@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,300&display=swap');

body {
 text-align: center;
 background-color: #EDF4F8;
 font-family: Nunito, sans-serif;
}

.App {
  height: 100vh;
  scroll-snap-type: y mandatory;
  display: block;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  position: relative;
}

header {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

header h2 {
  font-size: 1.7rem;
  font-weight: 300;
}

header h2 span {
  color: orange;
}

section {
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding-bottom: 5vh;

  scroll-snap-type: y mandatory;
  display: block;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  position: relative;
}

.mochi-image img{
  width: 13vw;
  height: 13vw;
  margin: 60px;
  /* position: absolute; */
}

.mochi-board {
  width: 100%;
  height: 60vh;
  display: block;
  /* position: absolute; */
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  position: relative;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

#board-container {
  /* position: absolute; */
  width: 100%px;
  height: 60vh;
}

.board-container::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  color: #FFF;
}

.board-overlay {
  height: 60vh;
  width: 100%;
  background-color: cyan;
  z-index: 99;
  position: absolute;
  opacity: 0.1;
}

/* .board-overlay::after {
  content: "";
  height: 50%;
  width: 60vh;
  background-color: DeepSkyBlue;
  z-index: 99;
  position: absolute;
  left: 0;
  bottom: 0;
  top: auto;
} */

#mochi-bear h2 { 
  color: white;
  font-size: 1.7rem;
  font-weight: 300;
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

#mochi-bear h4 {
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

#mochi-bear {
  background-color: #42648A;
}

/* #mochi-on-tracks {
  
} */

#mochi-stars {
  overflow: hidden;
  width: 70vw;
}